.noto-serif {
  font-family: "Noto Serif";
}
.inter{
  font-family: "Inter";
}


/* universal styles */
*{
    margin: 0;
    padding: 0;
}


/* shared styles */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.btn{
    padding: 20px 80px;
    color: white;
}
a{  padding: 0 20px;
    transition: all 0.5s ease;
}
a:hover{
    background-color: #E95A08;
    padding: 10px 20px;
    color: white !important;
    border-radius: 5px;
}


/* header related style */
.nav{
    margin: 30px auto;
}.nav-menu{
    align-items: center;
    gap: 20px;
    font-weight: 600;
}
.hero{
    margin: 120px auto;
    align-items: end;
}

/* our plants section style */
.plant-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 4rem auto;
    gap: 20px;

}
.plant-card-container img{
    margin-bottom: 30px;
}
.plant-card-container .btn{
    margin-top: 30px;
}
.lover{
    gap: 60px;
    position: relative;
    align-items: center;
    margin: 120px auto;
}
.lover li{
    margin-bottom: 20px;
    list-style: disc;
    margin-left: 30px;
}

.trasted-badge{
    position: absolute;
    width: 286px;
    translate: 120%;
}


/* latest deal section */
.card1{
    background-image: url(../assets/deal-bloom.png);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 367 / 201;
    border-radius: 14px;
}
.card2{
    flex: 2;
    background-image: url(../assets/deal-zabo.png);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 367 / 201;
    border-radius: 14px;
}
.card3{
    background-image: url(../assets/deal-ana.png);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 367 / 201;
    border-radius: 14px;
}
.deals-card-container{
    display: flex;
    gap: 20px;
    margin: 80px auto;
    text-shadow: 0 0 10px black;
}
.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Deals-card{
    width: 100%;
    color: white;
    justify-items: center;
    align-content: center;
}

/* join section style */
.join-section{
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 1440 / 533;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 50px;
}
.join-content{
    display: flex;
    justify-content: center;
}
.join-section input{
    width: 40%;
    background-color: white;
    padding: 15px 20px;
}
.join-section button{
    background-color: #E95A08;
    padding: 15px 50px;
}

/* footer related style */
footer{
    justify-content: space-between;
}
.company{
    max-width: 360px;
}
.manu p{
    margin-bottom: 2rem;
}
.social-link{
    gap: 20px;
}
.social-link img{
    width: 36px;
    height: 36px;
}

/* responsive for small device */
@media screen and (max-width: 576px) {
    .logo{
        max-width: 4rem;
        margin-right: -40px;
        margin-left: 10px;
    }
    .nav{
        margin-top: 20px;
        justify-content: space-between;
        gap: 0;
    }
    .nav-item{
        display: none;
    }
    .hero{
        flex-direction: column-reverse;
        margin: 20px auto;
    }
    .hero-content{
        padding: 10px;
    }
    h1, h2{
        font-size: 1.5rem;
    }
    p, .lover li{
        font-size: 0.9rem;
    }
    .plants p{
        margin: 10px;
    }
    .plant-card-container{
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;
        gap: 10px;
    }
    .btn{
        padding: 20px;
        width: 100%;
    }

    .trasted-badge{
        display: none;
    }
    .lover{
        flex-direction: column;
        margin: 10px;
        gap: 20px;
    }
    .lover h2{
        margin-bottom: 10px;
    }
    .Deals{
        padding: 10px;
    }
    .deals-card-container{
        flex-direction: column;
        margin: 20px auto;
    }
    .deals-card-container h5{
        font-size: 1.25rem;
    }
    .deals-card-container a{
        font-size: 1rem;
    }
    .join-section{
        aspect-ratio: 16 / 9;
    }
    .join-section input{
        width: 60%;
    }
    .join-section button{
        padding: 15px 20px;
    }
    footer{
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
    .manu p{
    margin-bottom: 1rem;
    }

}