.noto-serif {
  font-family: "Noto Serif";
}
.inter{
  font-family: "Inter";
}


/* universal styles */
*{
    margin: 0;
    padding: 0;
}


/* shared styles */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.btn{
    padding: 20px 80px;
    color: white;
}
a{  padding: 0 20px;
    transition: all 0.5s ease;
}
a:hover{
    background-color: #E95A08;
    padding: 10px 20px;
    color: white !important;
    border-radius: 5px;
}